*{
    background: lightcoral;
    border-radius: border-box;
}
.home{
    display: flex;
    justify-content: center;
}
.intro{
    margin-top: 15%;
}
.buttons{
    margin-top: 3%;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 1%;
}
fieldset{
    width: 30%;
    display: flex;
}
input{
    border-radius: 20%;
}
.inputs{
    padding-top: 5%;
}
.button{
    padding-top: 5%;
}